if category
	.category.category--large
		form.contenteditable.col-sm-12(method='POST', action='/categories/' + (category.slug || ''), enctype='multipart/form-data')
			.row
				.col-xs-12.col-md-5.image
					img.thumbnail.img-responsive(src='//' + category.image_large)
					if is_admin
						input.col-xs-12(type='file', name='image_full')
				.col-xs-12.col-md-7.info
					.row
						.col-xs-12
							h2(contenteditable=is_admin, data-name='category[name]')= category.name
						.col-xs-12
							p(contenteditable=is_admin, data-name='category[description]')= category.description
						if is_admin
							.col-xs-12
								.row
									.col-sm-6
										h5 Available Products
										ul.unstyled.sortable.category--sortable.category-sortable-products(data-connectwith='.category-sortable-products')
											if products
												each product in products
													if (_.pluck(category.products, 'slug').indexOf(product.slug) === -1)
														li(value=product._id)= product.name
									.col-sm-6
										h5 Included Products
										ul.unstyled.sortable.category--sortable.category-sortable-products(data-connectwith='.category-sortable-products',contenteditable=is_admin, data-name='category[products][]')
											if products
												each product in products
													if (_.pluck(category.products, 'slug').indexOf(product.slug) !== -1)
														li(value=product._id)= product.name
							.col-xs-12
								.row
									.col-sm-6
										h5 Available Child Categories
										ul.unstyled.sortable.category--sortable.category-sortable-subcategories(data-connectwith='.category-sortable-subcategories')
											if categories
												each a_category in categories
													if (category.child_categories.indexOf(a_category._id) === -1)
														li(value=a_category._id)= a_category.name
									.col-sm-6
										h5 Selected Child Categories
										ul.unstyled.sortable.category--sortable.category-sortable-subcategories(data-connectwith='.category-sortable-subcategories', contenteditable=is_admin, data-name='category[child_categories][]')
											if categories
												each a_category in categories
													if (category.child_categories.indexOf(a_category._id) !== -1)
														li(value=a_category._id)= a_category.name
							.col-xs-12
								.row
									label.col-sm-6
										input(type='checkbox', name='category[isTopLevel]', value='true', checked=category.isTopLevel)
										small  Top Level
							.col-xs-12
								.row
									.col-sm-6
										button.btn.btn-block.btn-danger(name='_method', value='DELETE') delete
									.col-sm-6
										if category.isNew
											button.btn.btn-block.btn-info(name='_method', value='POST') create
										else
											button.btn.btn-block.btn-info(name='_method', value='PUT') update
		.col-sm-12
			.row
				if category.products
					each product in category.products
						.col-xs-12.col-sm-6.col-md-3
							include ../products/single_small
